<header>
    <img src="https://pngimg.com/uploads/nike/nike_PNG11.png" alt="">
    <nav>
        <a routerLink="/">Domov</a>
        <a routerLink="/shop">Trgovina</a>
        <a routerLink="/login">Vpiši me</a>
        <a routerLink="/register">Registriraj me</a>
    </nav>
</header>
<main>
    <router-outlet></router-outlet>
</main>
<footer>
    <div class="container">
        <div class="logo">
            <img src="https://pngimg.com/uploads/nike/nike_PNG11.png" alt="Nike logo">
        </div>
        <div class="links">
            <a routerLink="/">Domov</a>
            <a routerLink="/shop">Trgovina</a>
            <a routerLink="/login">Vpiši me</a>
            <a routerLink="/register">Registriraj me</a>
        </div>
        <div class="social-icons">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-pinterest-p"></i></a>
        </div>
    </div>
</footer>